/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

    /* General styles */
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    body {
        font-family: sans-serif;
    }
    
    .container {
        max-width: 1400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .container2 {
        max-width: 1800px;
        width: 100%;
        border-radius: 36px;
        background: -o-linear-gradient(10deg, #5B52A3 1.08%, #40B8EA 100%);
        background: linear-gradient(80deg, #5B52A3 1.08%, #40B8EA 100%);
        margin-left: auto;
        margin-right: auto;
    }
    
    
        /* Header styles */
    .header_container {
        padding-top: 36px;
        padding-bottom: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        border-bottom: 1px solid rgba(71, 66, 66, 0.4);
    }
    
    .header_logo a img {
        width: 189px;
        height: 47px;
    }
    
    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style-type: none;
        gap: 40px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: var(--1, #1F2428);
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; 
        -webkit-transition: all 0.4s; 
        -o-transition: all 0.4s; 
        transition: all 0.4s;
    }
    
    .auth {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .auth img {
        width: 28px;
        height: 28px;
    }
    
    .auth a {
        text-decoration: none;
        color: var(--1, #1F2428);
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; 
        margin-left: 11px;
        margin-right: 42px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .auth button {
        widows: 170px;
        border-radius: 36px;
        border: none;
        background: -o-linear-gradient(left, #00C97B 0%, #00D981 96.96%);
        background: -webkit-gradient(linear, left top, right top, from(#00C97B), color-stop(96.96%, #00D981));
        background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
        -webkit-box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
                box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
        padding: 15px 15px 17px;
        cursor: pointer;
    
        color: var(--1, #FFF);
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px; /* 138.462% */
    }
    
    .header_container a:hover {
        text-decoration: underline;
        color: #00C97B;
    }
    
        /* Main styles */
    .main_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 52px;
        padding-top: 54px;
        padding-bottom: 54px;
        margin-bottom: 160px;
    }
    
    .delivery {
        width: 700px;
    }
    
    .delivery h1 {
        color: var(--4, #FFF);
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 111.111% */
    }
    
    .delivery p {
        color: var(--4, #FFF);
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 42px; /* 210% */
        opacity: 0.8;
        margin-top: 8px;
        margin-bottom: 36px;
    }
    
    .delivery button {
        border-radius: 36px;
        background: -o-linear-gradient(left, #00C97B 0%, #00D981 96.96%);
        background: -webkit-gradient(linear, left top, right top, from(#00C97B), color-stop(96.96%, #00D981));
        background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
        -webkit-box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
                box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
        padding: 19px 20px;
        border: none;
        cursor: pointer;
    
        color: var(--1, #FFF);
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px; 
    }
    
    .main_container .image img {
        width: 572px;
    }
    
        /* Buy section */
    .buy_container {
        margin-bottom: 54px;
    }
    .buy_container h2 {
        width: 477px;
        color: var(--1, #1F2428);
        font-size: 44px;
        font-style: normal;
        font-weight: 800;
        line-height: 50px; 
        margin-bottom: 40px;
    }
    
    .buy_container .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .icons .types {
        margin-right: 31px;
        padding: 24px 23px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 10px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    .icons .types:hover {
        background: var(--6, #F2F6FC);
    }
    
    .icons .kosmetika {
        margin-right: 0px;
    }
    
    .types img {
        width: 42px;
    }
    
    .types a {
        text-decoration: none;
        color: var(--1, #1F2428);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
        -webkit-transition: all 0.4s; 
        -o-transition: all 0.4s; 
        transition: all 0.4s;
    }
    .types a:hover {
        text-decoration: underline;
        color: #00C97B;
    }
    
        /* Products section */
    .product_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 50px;
        margin-bottom: 10px;
    }
    
    .russia_product {
        width: 400px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 44px;
    }
    
    .russia_product p {
        color: var(--1, #1F2428);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 138.462% */
    }
    
    .russia_price {
        widows: 400px;
        padding: 33px 0px 33px 34px;
        border-radius: 16px;
        background: #F2F6FC;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 28px;
    }
    
    .russia_price .column h4 {
        color: var(--1, #1F2428);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
    }
    
    .russia_price .column h3 {
        color: var(--1, #1F2428);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; 
    }
    
    .russia_price .column h5 {
        color: var(--7, #01CD7D);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; 
    }
    
    .russia_product p span {
        color: var(--7, #01CD7D);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }
    
    .two_product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 162px;
    }
    
    .two_product .t_shird {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 45px;
    }
    
    .two_product .title p {
        color: var(--1, #1F2428);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px; 
        opacity: 0.8;
        margin-bottom: 7px;
    }
    
    .two_product .title h5 {
        color: var(--1, #1F2428);
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 138.462% */
    }
    
    .two_product .title h5 span {
        color: var(--7, #01CD7D);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }
    
    .two_product .jeans {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 45px;
    }

    /* Technique styles */
.technique {
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 160px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 16px;
    background: var(--5, #FFF);
    -webkit-box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
            box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
}

.technique_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 135px;
    padding: 53px 71px 67px 51px;
    border-right: 1px solid rgba(63, 59, 59, 0.4);
    gap: 26px;
}

.technique_item img {
    width: 60px;
    height: 60px;
}

.technique_item p {
    color: var(--1, #1F2428);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;    
    line-height: 24px; 
}

    /* Master shopping styles */
.master__shoping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 76px;
    padding: 38px 0px 37px;
    margin-bottom: 160px;
}

.master_shoping_title {
    width: 834px;
}

.master_shopping_title h4 {
    width: 763px;
    color: var(--4, #FFF);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
}

.master_shopping_title p {
    color: var(--4, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    opacity: 0.7;
    margin-top: 11px;
    margin-bottom: 30px;
}

.master_shopping_title button {
    width: 240px;
    border-radius: 36px;
    background: -webkit-gradient(linear, left top, right top, from(#00C97B), color-stop(96.96%, #00D981));
    background: -o-linear-gradient(left, #00C97B 0%, #00D981 96.96%);
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
            box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    padding: 15px 24px;
    border: none;
    cursor: pointer;

    color: var(--1, #FFF);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 105.882% */
}

    /* UK post and DATA */
.UK_post h2 {
    width: 824px;
    color: var(--1, #1F2428);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; 
}

.UK_post p {
    width: 760px;
    color: var(--1, #1F2428);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; 
    margin-top: 20px;
    opacity: 0.8;   
    margin-bottom: 50px; 
}

.data {
    border-radius: 16px;
    background: var(--5, #FFF);
    -webkit-box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
            box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    padding: 46px 35px 51px;
    margin-bottom: 80px;
}

.data .headlines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    gap: 25px;
}

.data .headlines .headline {
    width: 246px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid rgb(124, 109, 109);
}

.data .headline h5 {
    color: var(--2, #222);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}

.headline .into_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
}

.headline .into_div span {
    color: var(--2, #222);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; 
    opacity: 0.7;   
    margin-left: 15px;
    margin-right: 141px;
}

.data button {
    border-radius: 36px;
    border: none;
    background: -webkit-gradient(linear, left top, right top, from(#00C97B), color-stop(96.96%, #00D981));
    background: -o-linear-gradient(left, #00C97B 0%, #00D981 96.96%);
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
            box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    padding: 24px 25px 24px;
    width: 240px;
    cursor: pointer;
    margin-top: 32px;

    color: var(--1, #FFF);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}

    /* Variants styles */
.variants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 170px;
}

.variants h3 {
    color: var(--1, #1F2428);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; 
    margin-bottom: 30px;
}

.variant1 {
    border-radius: 16px;
    background: var(--5, #FFF);
    -webkit-box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
            box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.variant_part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 27px;
    padding-top: 26px;
    padding-left: 29px;
    padding-bottom: 26px;
}

.variant_part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.variant_part2 .row {
    width: 230px;
    height: 82px;
    padding: 28px 50px 36px 57px;
    border-left: 1px solid rgba(94, 84, 84, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
}

.variant_part2 .reverse {
    border-right: 1px solid rgba(94, 84, 84, 0.3);
}

.variant_part1 h4 {
    color: var(--1, #1F2428);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
}

.variant_part2 .row span {
    width: 138px;
    color: var(--2, #222);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.9;
}

.variant_part2 .row h5 {
    color: var(--2, #222);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
}

.variant_part2 img {
    padding: 11px 22px;
}

.mail_variants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}

    /* Purchases section styles */
.purchases {
    margin-bottom: 150px;
}

.purchases__variants {
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
}

.purchases h1 {
    width: 695px;
    color: var(--1, #1F2428);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 127.273% */
    margin-bottom: 14px;
}

.purchase__one img {
    width: 280px;
}

.purchase__one h2 {
    color: var(--1, #1F2428);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 7px;
}

.purchase__one p {
    width: 328px;
    color: var(--1, #1F2428);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    opacity: 0.8;
    line-height: 25px; 
}

.purchase__one p span {
    color: var(--7, #01CD7D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.purchases h3 {
    width: 760px;
    color: var(--1, #1F2428);
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px; 
    opacity: 0.8;
    margin-bottom: 30px;
}

.purchases button {
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    padding: 24px 20px;
    width: 240px;
    height: 66px;
    border: none;
    cursor: pointer;

    color: var(--1, #FFF);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}

    /* Hero styles */
.hero_container {
    padding-top: 38px;
    padding-bottom: 37px;
    display: flex;
    gap: 75px;
    align-items: center;
    margin-bottom: 150px;
}

.img_part img {
    width: 411px;
    height: 405px;
}

.title_part h1 {
    /* width: 763px; */
    color: var(--4, #FFF);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
}

.title_part p {
    color: var(--4, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    opacity: 0.5;
    margin-top: 19px;
    margin-bottom: 30px;
}

.title_part button {
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    padding: 24px 0px;
    width: 240px;
    height: 66px;
    border: none;
    cursor: pointer;

    color: var(--1, #FFF);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}


    /* Clients section styles */
.clients h1 {
    color: var(--1, #1F2428);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; 
}

.clients p {
    width: 604px;
    color: var(--1, #1F2428);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 180% */
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 40px;
}

.clients_frames {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.clients_farmes_items {
    width: 447px;
    border-radius: 16px;
    background: var(--5, #FFF);
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    padding: 35px 47px 51px 37px;
}

.clients_farmes_items img {
    width: 52px;
}

.clients_farmes_items h3 {
    color: var(--1, #1F2428);
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 111.111% */
    margin-top: 30px;
    margin-bottom: 10px;
}

.clients_farmes_items p {
    width: 363px;
    color: var(--1, #1F2428);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
}

    /* Blogers styles */
.bloger {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.blogers_section {
    margin-bottom: 150px;
}

.blogers_section h1 {
    color: var(--1, #1F2428);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 155.556% */
    margin-bottom: 40px;
}

.bloger_comment {
    border-radius: 16px;
    background: var(--5, #FFF);
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    display: flex;
    gap: 38px;
    width: 685px;
    padding: 10px 34px 10px 10px;
}

.bloger_comment img {
    width: 240px;
}

.bloger_title h3 {
    color: var(--1, #1F2428);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    margin-bottom: 6px;
}

.bloger_title img {
    width: 89px;
    margin-bottom: 14px;
}

.bloger_title p {
    color: var(--1, #1F2428);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; 
    opacity: 0.9;
}

.bloger_title .p1 {
    margin-bottom: 67px;
}

.bloger_title .p2 {
    margin-bottom: 41px;
}

.bloger_title .p3 {
    margin-bottom: 15px;
}

.bloger_title .p4 {
    margin-bottom: 41px;
}

.bloger_title h4 {
    color: var(--1, #1F2428);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; 
    display: inline-block;
    margin-right: 15px;
}

.bloger_title span {
    color: var(--1, #1F2428);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
    opacity: 0.9;
}

.blogers_section button {
    width: 240px;
    height: 66px;
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    cursor: pointer;
    margin-top: 40px;
    border: none;

    color: var(--1, #FFF);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 105.882% */
}

     /* UK purchases section  */
.UK_purchases {
    margin-bottom: 150px;
} 

.UK_purchases h2 {
    color: var(--1, #1F2428);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; 
}

.UK_purchases p {
    color: var(--1, #1F2428);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 200% */
    opacity: 0.9;
    margin-top: 12px;
}